reset
set term wxt size 1200,700 persist
set border lw 1
unset key
set tics scale 0.75
#set xtics 5 rotate
set ytics 1
set yrange[-0.3:2.5]
#set xrange[0:1175]
set autoscale x
set grid
set key title "Values"
plot 'device1.txt' u (5*$6-6) with lines  lc "black" title "Vbat", \
             '' u (100*$10) with lines lc "red"  title "Vdrop", \
             '' u ($29/2) with lines lc "blue" title "Tbat", \
             '' u ($33) with lines lc "magenta" title "Tslope", \
             '' u ($37/2) with lines lc "green" title "dSlope"
#pause 5
#reread
