reset
set term wxt size 1200,700 persist
set border lw 1
unset key
set tics scale 0.75
set xtics 60*60*1000 
set ytics 1
set y2tics 0.01
set yrange[-0.3:2.5]
#set xrange[0:1175]
#set xdata time
#set timefmt "%S"
set autoscale x
set autoscale y2
set grid
set key title "Values"
plot 'device1.txt' u 3:($6) with lines axes x1y2 lc "black" title "Vbat", \
             '' u 3:(100*$10) with lines lc "red"  title "100*-dV", \
             '' u 3:($29/2) with lines lc "blue" title "Tbat/2", \
             '' u 3:($33) with lines lc "magenta" title "Tslope", \
             '' u 3:($37/2) with lines lc "green" title "dSlope/2", \
             '' u 3:($22/2048) with lines lc "gray" title "PWM/2048", \
             '' u 3:(200*$45+1) with lines lc rgb "#A02010A0" title "Ierr*200+1", \
             '' u 3:($48/2-9.5) with lines lw 2 lc rgb "#70E0D000" title "Tamb/2-9.5", \
             '' u 3:($51/2-9.5) with lines lc rgb "#80F0E040" title "Tbat/2-9.5"

pause 5
reread
